html{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

#strip{
    padding: 15px 0;
    background-color: #f4f5f5;
    font-size: 11.25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    color: #616264;
    letter-spacing: 0.175em;
}

.headercontainer{
    display: flex;
    justify-content: space-around;
}

h1{
    font-size: 50px;
}
h3.motto{
    color: #000;
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 0.14em;
    font-weight: 300;
}
.nav{
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 420;
   
}

.links{
    position: relative;
    min-height: 65px;
    display: flex;
    align-items: center;
    padding: 30px 15px;
    line-height: 1.7em;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ic{
    padding: 10px;
    margin: 10px;
}

/*.desktop-banner{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin bottom: 40px;
}*/

.desktop-banner{
    width: 100%;
    max-height: 849px;
}

.twnty{
    width: 20%;
    display: flex;
    justify-content: center;
}

.sxty{
    width: 60%;
}

.thrty{
    width: 33.333%;

}

.products{
    padding: 40px 0;
  
}

.procontainer{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.pro{
    padding: 5px 0;
    margin: 5px 10px 30px;
    box-sizing: border-box;
    background-color: #f4f5f5;
}

.text-center{
    text-align: center;
}

.pix{
    max-width: 95%;
}

.aligncent{
    justify-content: center;

}

.callout{
    padding: 100px 0 140px 0;
    width: 450px;
}

p{
    font-size: 14px;
    letter-spacing: 0.04em;
    font-weight: 300;
    color: #616264;
}

.gal{
    width: 100%;
    max-height: 849px;
}

.footlogo{
    padding: 32px 0 60px 0;
}

.footlogoicon{
    width: 30px;
    margin: auto;
    padding-bottom: 84px;
    padding-top: 47px;
}

.foot-newsletter{
    width: 100%;
    background-color: #f8f8f9;
    padding: 30px;
    box-sizing: border-box;
}

.footcontain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
}

.module{
    padding: 0 15px;
}

.joinus{
    letter-spacing: .15em;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.footinput{
    background-color: #f1f1f2;
    padding: 15px;
    letter-spacing: 0.019em;
    border: 0.5px solid #4a4b4c;
    outline: none;
    margin-right: 15px;
    box-sizing: border-box;
    width: 225px;
}

.submit{
    background-color: #58595b;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.039em;
    padding: 15px 50px;
    border: none;
}

.links:hover{
    font-size: 13px;
    animation-name: shake;
   animation-duration: 1s;
   animation-fill-mode: infinite;;
}

.links:link, .links:visited{
    color: black;
    text-decoration: none;
}
.icx:link, .icx:visited{
    color: black;
    text-decoration: none;
}
/*keyframe allows us to make animations in css*/
@keyframes shake {
    20% {
      transform: translateY(0px); }
    40% {
      transform: translateY(-15px); }
    60% {
      transform: translateY(0px); }
    80% {
      transform: translateY(-10px); }
    100% {
      transform: translateY(0px); } }

/*When the page size gets less than 1000px the behaviour of each class can be reassigned*/
@media (max-width: 1000px){
    .headercontainer{
        max-width: 95%;
        margin: auto;
        padding: 20px 0;
    }

    .nav{
        display: none;
    }

    .thrty{
        width: 100%;
    }

    .procontainer{
        flex-wrap: wrap;
    }

    .callout{
        padding: 40px 0 80px;
        max-width: 315px;
        margin: auto;
    }

    .foot-newsletter{
        padding: 30px 0 15px;
    }

    .footcontain{
        flex-wrap: wrap;
    }

    .module{
        margin-bottom: 15px;
    }

    .footinput{
        width: 200px;
    }

    .submit{
        padding: 15px 30px;
    }

    .ic{
        display: none;
    }

    .twnty{
        width: 100%;
    }

    .pro{
        margin: 40px 30px;
    }

}